In [2]:
import streamlit as st
import numpy as np
import pandas as pd

2021-04-19 11:35:16.993 WARNING streamlit.watcher.file_watcher:
  For better performance, install the Watchdog module:

  $ xcode-select --install
  $ pip install watchdog

In [3]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})

In [4]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [17]:
df = pd.DataFrame(
    np.random.randn(100, 2)/[50,50] + [35.69, 139.70],
    columns=['lat', 'lon']
)

In [18]:
df

          lat         lon
0   35.714621  139.689649
1   35.672266  139.668934
2   35.689793  139.703206
3   35.698720  139.674645
4   35.709302  139.678996
..        ...         ...
95  35.690660  139.716590
96  35.687060  139.714831
97  35.705622  139.714920
98  35.693111  139.702402
99  35.710172  139.729669

[100 rows x 2 columns]

In [19]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]